# Django
*.pyc
*__pycache__/
db.sqlite3
migrations/

# Environment variables
.env
.env.local
.env.production

# Static files (если собираются при деплое)
/staticfiles/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp/
temp/